
<div class="main-panel">
    <div class="col-md-12">
        <div>
            <h2>Settings </h2>
        </div>
        <div >
            <div style="background-color: #2f3441a1;">
                <a href="/setting/general"><h2>General</h2></a>
            </div>
            <div style="background-color: #2f3441a1;">
                <a href="/setting/privacity"><h2>Privacidad</h2></a>
            </div>
            <div style="background-color: #2f3441a1;">
                <a href="/setting/language_ubication"><h2>Language & Ubication</h2></a>
            </div> 
            <div style="background-color: #2f3441a1;">
                <a href="/setting/log_in"><h2>Options for Log in</h2></a>
            </div>
        </div>
    </div>
</div>