 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat application</title>
    <link rel="stylesheet" href="/css/chat.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
</head>
<body>
    <!-- Nombre de usuario -->
    <div id="panel-bienvenida">
        <h2>Bienvenido al Chat</h2>
        <input type="text" name="" id="persona" placeholder="Ingrese tu nombre">
        <button onclick="ingresarAlChat()">Ingresar al Chat</button>
    </div>
    <!-- Panel de chat -->
    <div id="app-chat">
        <h1 class="nube box">Live Chat</h1>
        <div id="ventana-mensajes">
            <div id="output"></div>
            <div id="escribiendo-mensaje"></div>
        </div>
        <input id="usuario" type="text">
        <input id="mensaje" type="text" placeholder="Ingresa un mensaje">
        <button id="enviar">Enviar</button>
    </div>

    <script src="chat.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</body>
</html>