
<div class="main-panel">
    <div class="col-md-12">
        <br>
         <div>
            <h1>
                <a href="/setting/language_ubication"><label class="mdi mdi-keyboard-backspace"></label> </a>
                  Address
            </h1>
            
        </div>
        <div class="table-responsive">
            
                <table class="table"> 
                <tbody> 
                    <tr> 
                        <form action="/update_addres" method="POST" >
                            <td><input type="text" name="address" class="col-12" id='address' value="{{priv.address }}"><br><p><small>Para poder validar su edicion, verificaremos su correo. Por favor vea su bandeja de entrada</small></p><br><button type="submit" class="btn btn-info btn-rounded btn-fw"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Actualizar</font></font></button></td> 
                        </form>
                    </tr>  
                </tbody>
            </table> 
        </div>  