
<div class="main-panel">
    <div class="col-md-12">
        <br>
         <div>
            <h1>
                <a href="/setting/general"><label class="mdi mdi-keyboard-backspace"></label> </a>
                  Settings General 
            </h1>
            
        </div>
        <div class="table-responsive">
            
                <table class="table"> 
                <tbody> 
                    <tr> 
                        <form action="/update_birtday" method="POST" >
                            <td><input type="date" name="birtday" class="col-12" id='birtday' value="{{us.birtday}}"><br><p></p><br><button type="submit" class="btn btn-info btn-rounded btn-fw"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Actualizar</font></font></button></td> 
                        </form>
                    </tr>  
                </tbody>
            </table> 
        </div>  