<!-- partial -->
<div class="main-panel">
    <div class="container" ><br>
    
                <a href="/my_qr"><label class="mdi mdi-keyboard-backspace"></label> </a>
        <h2 class="text-center">QR EDIT</h2> 
        <br>
        <div style="display: flex; justify-content: center;">
            <form id="qr_edit"class="col-12">
                <input type="hidden" value="{{qr.id}}" id="qr">
                <input style="position: center;" type="text" value="{{qr.name}}" id="nameQR" class="col-12"><br><br>
                <input style="position: center;" type="text" value="{{qr.description}}" id="contend" class="col-12"><br><br>
                <div style="text-align: center;">
                    <button id="btnG" type="submit">Generate</button> 
                </a>
                </div>
                
            </form>
            
        </div><br>
        <div style="display: flex; justify-content: center;">
            <img id="myqr" src="{{qr.qr}}" width="90%" alt="">
            
        </div><br>
        <div id="update" style="display: flex; justify-content: center;"> 

             <a id="myqrd"  >
                <button id="btnmyqrU" type="submit" disabled class="button">Update</button>
            </a> 
        </div>
        <div id="download" style="display: flex; justify-content: center; display:none;">
            <a id="myqrD"  >
                <button id="btnmyqrd" type="button" download class="button">Download</button>
            </a>
        </div>
        
        
        
        <br>      
                    
    </div>
</div>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/forms.js"></script>