
<div class="main-panel">
    <div class="col-md-12">
        <br>
         <div>
            <h2>
                <a href="/account_settings"><label class="mdi mdi-keyboard-backspace"></label> </a>
                  <small style="margin-left: 10px;">
                    Language
                  </small>
            </h2>
            
        </div>
        <div class="table-responsive">

            <table class="table"> 
                    <tbody>
                        <tr>
                            <td></td>
                            <td><a href="/edit_language"><label class="mdi mdi-border-color"></label></a></td>
                            <td>{{priv.language}}</td>
                            <td>✔️</td>
                          </tr>
                           
                        </tbody>
                      </table>
                      <br>
                      <h2>
                           <small  style="margin-left: 40px;">
                            Ubication
                            </small>
                      </h2>
                       <table class="table"> 
                    <tbody>
                        <tr>
                            <td></td>
                            <td><a href="/edit_address"><label class="mdi mdi-border-color"></label></a></td>
                            <td>{{priv.address}}</td>
                            <td>✔️</td>
                          </tr> 
                        </tbody>
                      </table>
                    </div>