
<div class="main-panel">
    <div class="col-md-12">
        <br>
         <div>
            <h1>
                <a href="/account_settings"><label class="mdi mdi-keyboard-backspace"></label> </a>
                  Settings General 
            </h1>
            
        </div>
        <div class="table-responsive">

            <table class="table"> 
                    <tbody>
                        <tr>
                            <td></td>
                            <td><a href="/edit_name"><label class="mdi mdi-border-color"></label></a></td>
                            <td>Opcion 1</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td><a href="/edit_email"><label class="mdi mdi-border-color"></label></a></td>
                            <td width="nowrap"#>Opcion 2</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td><a href="/edit_user"><label class="mdi mdi-border-color"></label></a></td> 
                            <td>Opcion 3</td>
                          </tr>
                           
                        </tbody>
                      </table>
                    </div>